<mat-sidenav-container fullscreen>

  <mat-toolbar color="primary">
    <span class="spacer"></span>

    <button
      mat-button
      (click)="onLogout()"
    >
      Logout
    </button>
  </mat-toolbar>

  <div class="container p-2">


    <div class="grid">
      <div class="col-12 text-center">
        <p><strong>Usuario: </strong> {{ user()?.name }}</p>
        <p><strong>Email: </strong> {{ user()?.email }}</p>
        <p><strong>Rol: </strong>Administrador</p>
      </div>

      <div class="col-4 text-center">
        <a href="#" routerLink="/prospectos">ABC Prospectos</a>
      </div>

      <div class="col-4 text-center">
        <a href="#">Evaluar Prospecto</a>
      </div>

      <div class="col-4 text-center">
        <a href="#">Gestión de usuarios</a>
      </div>
    </div>
  </div>
</mat-sidenav-container>
